#slothpic {
	height: 15%;
	width: 55%;
	margin: 0 auto;
}

#slothpic img{
	max-width: 98%;
	max-height: 90%;
}

#message, #forms{
	height: 40%;
	width: 55%;
	margin: 0 auto;
}

#message p{
	font-family: verdana;
}

 form{
 	font-size: 24px;
 }

 .fields{
 	width: 20%;
 	height: 1.2em;
 	margin-bottom: 5px;
 }

 #tell-us{
 	height: 4.5em;
 	width: 73%;
 }

 .wrapper {
	float: left;
	width: 10%;
}

li a {
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	font-family: Verdana;
}

li a:hover {
	background-color: #555;
	color: white;
}

.active {
	background-color: #4CAF50;
	color: white;
}

header {
	font-family: Verdana;
	background-color: #4CAF50;
	color: white;
}