
.maincontainer{
	background: green;
	color: white;
}

.title{
	background: green;
	height: 80px;
	text-align: center;
	padding-top:10px;
	color: white;

}



img {
	width: 250px;
	padding-left: 300px;
}